In [1]:
import pandas as pd 

df = pd.read_csv("oil_reserves.csv")
df.head()

,Region,Country/ Region,2010,2011,2012,2013,2014,2015,2016
0,North America,US,34.990,39.775,44.180,48.463,54.962,47.987,47.987
1,North America,Canada,174.848,174.177,173.716,173.038,172.156,171.512,171.512
2,North America,Mexico,11.691,11.394,11.424,11.079,10.816,7.977,7.977
3,S. & Cent. America,Argentina,2.524,2.525,2.354,2.330,2.380,2.395,2.395
4,S. & Cent. America,Brazil,14.246,15.050,15.314,15.593,16.184,13.000,12.634

In [4]:
import pandas as pd 



df["max region"] = df["2010"] +df["2011"]+ df["2012"] + df["2013"] + df["2014"] + df["2015"] + df["2016"]
df[df["max region"]==df["max region"].max()]["Region"]

9    S. & Cent. America
Name: Region, dtype: object